
cat > .gitignore <<'EOF'
__pycache__/
*.py[cod]
.env
.venv/
venv/
*.db
instance/
.DS_Store
*.zip
app_backup.py
app copy.py
StudyBuddy/
EOF

cat >> .gitignore <<'EOF'
static/images/anything.jpg
static/images/skibidi.jpg
templates/hehe
EOF
git add .gitignore
git add .


printf '\n/static/images/anything.jpg\n/static/images/skibidi.jpg\n/templates/hehe\n' >> .gitignore
